/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gnupg
/.kube
/.local
/.profile
/.selected_editor
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/.wget-hsts
/01-mssql-deploy
/NFSDynamicProvisioning
/ingressnginx
/ley1173central.backup
/mariadb
/metalLBConfig.yaml
/my.cnf
/nfs-provisioner
/pg_hba.conf
/postgres
/postgresql.conf
/restaurar.log
/restaurarautomatico
/scripts
/snap